<!-- <p>works</p> -->
<div class="container">

        <p>Author:{{myquotes.author}}</p>

        <div class="row">
                        <!-- <li appHighlight>{{myquotes.quote}}</li> -->
                     
                <div class="col-md-2"><button type="text" class="btn btn-outline-info" (click)="voteShow()">Upvote</button> </div>
             <p class="col-md-2"><p *ngIf="voteshow">{{ votequote }}  </p> 
        </div>
        <div class="row">
                <div class="col-md-2"><button type="text" class="btn btn-outline-info" (click)="downloadShow()">Downloads</button></div>
                <p class="col-md-2"><p *ngIf="voteshow">{{ downloadquote }}  </p> 
        </div>
     
        <div>
                <!-- <button (click)= 'myquotesComplete(true)'>Delete</button> -->
                <button (click)= 'myquotesDelete(true)' class="btn btn-outline-danger">Delete quote</button>
      
                <p>This quote is posted in {{myquotes.completeDate|dateCounter}} days ago</p>
                <!-- <button (click)= 'quoteDelete(true)'>Delete Goal</button> -->
       
</div>
</div>
  
  