.h2{
    padding-top:60px;
    text-transform:uppercase;
    color:white;
}
.h1{
    padding-top:60px;
    text-transform:uppercase;  
    color:white; 
}
.form{
padding-top:400px;
color:white;
}
.body{
    color:white;
}