input[type=date] {
    width: 100%;
    background-color:#EEE2BD;
    color:black;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:80%;
    margin-left:20px;
  }
  input[type=text] {
    width:80%;
  }
input[type=submit]:hover {
    background-color:black;
    text-transform:capitalise;
  
   
    
  }
  #submit{
    margin-left:180px;
  }
  input[type=text]{
    background-color:#EEE2BD;
    margin-left:20px;
  }
  textarea{
    background-color:#EEE2BD;
    margin-left: 10px;
    width:80%  
  }
  /* form{
    margin-left: 10px;
  } */
  .form{
   
margin-top:50px;
width:1000px;
font-family: 'PT Serif', serif;
      text-transform:uppercase;
      color:white;
      background-color:black;
      opacity:0.6;
      border-radius:25px;

  }
  .h2{
    margin-top: 150px;
    text-align: center;
    margin-right: 300px;
    font-family: 'PT Serif', serif;
      text-transform:uppercase;
      color:#474C38;
      font-size:34px;
  }

label{
  margin-top:20px;
  margin-left:20px;
}